{% extends 'base1.html.twig' %}
{% block body %}
{% if user %}
    <section class="content blog-page">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Post List
                        <small>Welcome to Oreo</small>
                    </h2>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <ul class="breadcrumb float-md-right">
                        <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> Oreo</a></li>
                        <li class="breadcrumb-item"><a href="blog-dashboard.html">Post</a></li>
                        <li class="breadcrumb-item active">Post List</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-12 left-box">
                    {% for post in posts %}
                    <div class="card single_post">
                        <div class="body">
                            <h3 class="m-t-0 m-b-5"><a href="blog-details.html">{{ post.titre }}</a></h3>
                            <ul class="meta">
                                <li><a href="#"><i class="zmdi zmdi-account col-blue"></i>Posted By:{{ post.idauthor.username }}</a></li>
                                <li><a href="#"><i class="zmdi zmdi-label col-red"></i>{{ post.type }}</a></li>
                                <li><a href="#"><i class="zmdi zmdi-comment-text col-blue"></i>Comments: {{ post.nbcomments }}</a></li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="2017">
                                    <div class="row clearfix">
                                        {% for m in medias %}
                                        {% if m.idpost.id==post.id %}
                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                            <div class="card">
                                                <div class="file">
                                                    <a href="javascript:void(0);">
                                                        <div class="hover">
                                                            <a role="button" class="btn btn-icon btn-icon-mini btn-round btn-danger" href="{{ path('Media_Delete',{id_media:m.id}) }}">
                                                                <i class="zmdi zmdi-delete"></i>
                                                            </a>
                                                        </div>
                                                        <div class="icon">
                                                            {% if m.mediatype=="image" %}
                                                            <img src="{{ asset('uploads/Mixed/')~m.source }}"></img>
                                                             {% else %}
                                                              <video src="{{ asset('uploads/Mixed/')~m.source }}"   ></video>
                                                             {% endif %}
                                                        </div>
                                                        <div class="file-name">
                                                            <p class="m-b-5 text-muted">{{ m.source }}</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% if post.type=="shared" %}
                                {% set popo=null %}
                                {% set trv=0 %}
                                {% for po in posts %}
                                    {% if post.contenue|number_format==po.id %}
                                        {% set trv=1 %}
                                        {% set popo=po %}
                                    {% endif %}
                                {% endfor %}
                                {% if trv==1 %}
                                    <div class="card single_post">
                                        <div class="body">
                                            <h3 class="m-t-0 m-b-5"><a href="#">{{ popo.titre }}</a></h3>
                                            <ul class="meta">
                                                <li><a href="#"><i class="zmdi zmdi-account col-blue"></i>Posted By:{{ popo.idauthor.username }}</a></li>
                                                <li><a href="#"><i class="zmdi zmdi-label col-red"></i>{{ popo.type }}</a></li>
                                                <li><a href="#"><i class="zmdi zmdi-comment-text col-blue"></i>Comments: {{ popo.nbcomments }}</a></li>
                                            </ul>
                                        </div>
                                        <div class="body">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="2017">
                                                    <div class="row clearfix">
                                                     {% for m in medias %}
                                            {% if m.idpost.id==popo.id %}
                                                <div class="col-lg-3 col-md-4 col-sm-12">
                                                    <div class="card">
                                                        <div class="file">
                                                            <a href="javascript:void(0);">
                                                                <div class="hover">
                                                                    <a role="button" class="btn btn-icon btn-icon-mini btn-round btn-danger" href="{{ path('Media_Delete',{id_media:m.id}) }}">
                                                                        <i class="zmdi zmdi-delete"></i>
                                                                    </a>
                                                                </div>
                                                                <div class="icon">
                                                                    {% if m.mediatype=="image" %}
                                                                        <img src="{{ asset('uploads/Mixed/')~m.source }}"></img>
                                                                    {% else %}
                                                                        <video src="{{ asset('uploads/Mixed/')~m.source }}"   ></video>
                                                                    {% endif %}
                                                                </div>
                                                                <div class="file-name">
                                                                    <p class="m-b-5 text-muted">{{ m.source }}</p>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="card">
                                        <div class="card-header">
                                            Alert:Not found
                                        </div>
                                        <div class="card-body">
                                            <blockquote class="blockquote mb-0">
                                                <p>this post maybe could be deleted by its original owner  </p>
                                                <footer class="blockquote-footer">QGT<cite title="Source Title"></cite></footer>
                                            </blockquote>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                                            {% if post.type=="Mixed" %}
                                            <p>{{ post.contenue}}</p>
                                            {% endif %}
                                            <a href="{{ path ('show_Admin_post',{id_post:post.id}) }}" title="read more" class="btn btn-round btn-info">Read More</a>
                                        </div>
                        </div>
                    {% endfor %}
                    <ul class="pagination pagination-primary">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-12 right-box">
                    <div class="card">
                        <div class="body search">
                            <div class="input-group m-b-0">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-addon">
                                <i class="zmdi zmdi-search"></i>
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <h2><strong>Popular</strong> Posts</h2>
                        </div>
                        <div class="body widget popular-post">
                            <ul class="list-unstyled m-b-0">
                                {% for t in tp3 %}
                                    {% if t.type!='shared' %}
                                    <li class="row">
                                    <div class="icon-box col-4">
                                    {% if t.type=='img' %}
                                        <img class="img-fluid img-thumbnail" src="{{ asset('/uploads/img/'~t.contenue) }}" alt="{{ t.titre }}">
                                    {% else %}
                                        <video class="img-fluid img-thumbnail" src="{{ asset('/uploads/img/'~t.contenue) }}" alt="{{ t.titre }}">  </video>
                                       {% endif %}
                                        </div>

                                        <div class="text-box col-8 p-l-0">
                                            <h5 class="m-b-0"><a href="#">{{ t.idauthor.typetalent }}</a></h5>
                                            <small class="author-name">By: <a href="#">{{ t.idauthor.username }}</a></small>
                                            <small class="date">{{ t.date|date }}</small>
                                        </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>


                        </div>
                    </div>

                    <div class="card">
                        <div class="header">
                            <h2><strong>Email</strong> Newsletter <small>Get our products/news earlier than others, let’s get in touch.</small></h2>
                        </div>
                        <div class="body widget newsletter">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter Email">
                                <span class="input-group-addon">
                                <i class="zmdi zmdi-mail-send"></i>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% else %}
    {{path('fos_user_security_login')  }}
    {% endif %}
{% endblock %}