{% extends 'baseLouay.html.twig' %}
{% block body %}






    <!-- CONTENT GRID -->
    <div class="content-grid">
        <!-- PROFILE HEADER -->
        <div class="profile-header">
            <!-- PROFILE HEADER COVER -->
            <figure class="profile-header-cover liquid">

                <img src="{{ asset('template/img/cover/01.jpg') }}" alt="cover-01">
            </figure>
            <!-- /PROFILE HEADER COVER -->

            <!-- PROFILE HEADER INFO -->
            <div class="profile-header-info">
                <!-- USER SHORT DESCRIPTION -->
                <div class="user-short-description big">
                    <!-- USER SHORT DESCRIPTION AVATAR -->
                    <a class="user-short-description-avatar user-avatar big" href="profile-timeline.html">
                        <!-- USER AVATAR BORDER -->
                        <div class="user-avatar-border">
                            <!-- HEXAGON -->
                            <div class="hexagon-148-164"></div>
                            <!-- /HEXAGON -->
                        </div>
                        <!-- /USER AVATAR BORDER -->

                        <!-- USER AVATAR CONTENT -->
                        <div class="user-avatar-content">
                            <!-- HEXAGON -->

                            <div class="hexagon-image-100-110" data-src="{{ asset('template/img/avatar/'~Profile.imguser) }}"></div>
                            <!-- /HEXAGON -->
                        </div>
                        <!-- /USER AVATAR CONTENT -->

                        <!-- USER AVATAR PROGRESS -->
                        <div class="user-avatar-progress">
                            <!-- HEXAGON -->
                            <div class="hexagon-progress-124-136"></div>
                            <!-- /HEXAGON -->
                        </div>
                        <!-- /USER AVATAR PROGRESS -->

                        <!-- USER AVATAR PROGRESS BORDER -->
                        <div class="user-avatar-progress-border">
                            <!-- HEXAGON -->
                            <div class="hexagon-border-124-136"></div>
                            <!-- /HEXAGON -->
                        </div>
                        <!-- /USER AVATAR PROGRESS BORDER -->

                        <!-- USER AVATAR BADGE -->
                        <div class="user-avatar-badge">
                            <!-- USER AVATAR BADGE BORDER -->
                            <div class="user-avatar-badge-border">
                                <!-- HEXAGON -->
                                <div class="hexagon-40-44"></div>
                                <!-- /HEXAGON -->
                            </div>
                            <!-- /USER AVATAR BADGE BORDER -->

                            <!-- USER AVATAR BADGE CONTENT -->
                            <div class="user-avatar-badge-content">
                                <!-- HEXAGON -->
                                <div class="hexagon-dark-32-34"></div>
                                <!-- /HEXAGON -->
                            </div>
                            <!-- /USER AVATAR BADGE CONTENT -->

                            <!-- USER AVATAR BADGE TEXT -->
                            <p class="user-avatar-badge-text">24</p>
                            <!-- /USER AVATAR BADGE TEXT -->
                        </div>
                        <!-- /USER AVATAR BADGE -->
                    </a>
                    <!-- /USER SHORT DESCRIPTION AVATAR -->

                    <!-- USER SHORT DESCRIPTION AVATAR -->
                    <a class="user-short-description-avatar user-short-description-avatar-mobile user-avatar medium" href="profile-timeline.html">
                        <!-- USER AVATAR BORDER -->
                        <div class="user-avatar-border">
                            <!-- HEXAGON -->
                            <div class="hexagon-120-132"></div>
                            <!-- /HEXAGON -->
                        </div>
                        <!-- /USER AVATAR BORDER -->

                        <!-- USER AVATAR CONTENT -->
                        <div class="user-avatar-content">
                            <!-- HEXAGON -->
                            <div class="hexagon-image-82-90" data-src="img/avatar/01.jpg"></div>
                            <!-- /HEXAGON -->
                        </div>
                        <!-- /USER AVATAR CONTENT -->

                        <!-- USER AVATAR PROGRESS -->
                        <div class="user-avatar-progress">
                            <!-- HEXAGON -->
                            <div class="hexagon-progress-100-110"></div>
                            <!-- /HEXAGON -->
                        </div>
                        <!-- /USER AVATAR PROGRESS -->

                        <!-- USER AVATAR PROGRESS BORDER -->
                        <div class="user-avatar-progress-border">
                            <!-- HEXAGON -->
                            <div class="hexagon-border-100-110"></div>
                            <!-- /HEXAGON -->
                        </div>
                        <!-- /USER AVATAR PROGRESS BORDER -->

                        <!-- USER AVATAR BADGE -->
                        <div class="user-avatar-badge">
                            <!-- USER AVATAR BADGE BORDER -->
                            <div class="user-avatar-badge-border">
                                <!-- HEXAGON -->
                                <div class="hexagon-32-36"></div>
                                <!-- /HEXAGON -->
                            </div>
                            <!-- /USER AVATAR BADGE BORDER -->

                            <!-- USER AVATAR BADGE CONTENT -->
                            <div class="user-avatar-badge-content">
                                <!-- HEXAGON -->
                                <div class="hexagon-dark-26-28"></div>
                                <!-- /HEXAGON -->
                            </div>
                            <!-- /USER AVATAR BADGE CONTENT -->

                            <!-- USER AVATAR BADGE TEXT -->
                            <p class="user-avatar-badge-text">24</p>
                            <!-- /USER AVATAR BADGE TEXT -->
                        </div>
                        <!-- /USER AVATAR BADGE -->
                    </a>
                    <!-- /USER SHORT DESCRIPTION AVATAR -->

                    <!-- USER SHORT DESCRIPTION TITLE -->
                    <p class="user-short-description-title"><a href="profile-timeline.html">{{Profile.username}}</a></p>
                    <!-- /USER SHORT DESCRIPTION TITLE -->

                    <!-- USER SHORT DESCRIPTION TEXT -->
                    <p class="user-short-description-text"><a href="#">{{Profile.email}}</a></p>
                    <!-- /USER SHORT DESCRIPTION TEXT -->
                </div>
                <!-- /USER SHORT DESCRIPTION -->



                <!-- USER STATS -->
                <div class="user-stats">
                    <!-- USER STAT -->
                    <div class="user-stat big">
                        <!-- USER STAT TITLE -->
                        <p class="user-stat-title">930</p>
                        <!-- /USER STAT TITLE -->

                        <!-- USER STAT TEXT -->
                        <p class="user-stat-text">posts</p>
                        <!-- /USER STAT TEXT -->
                    </div>
                    <!-- /USER STAT -->

                    <!-- USER STAT -->
                    <div class="user-stat big">
                        <!-- USER STAT TITLE -->
                        <p class="user-stat-title">82</p>
                        <!-- /USER STAT TITLE -->

                        <!-- USER STAT TEXT -->
                        <p class="user-stat-text">friends</p>
                        <!-- /USER STAT TEXT -->
                    </div>
                    <!-- /USER STAT -->

                    <!-- USER STAT -->
                    <div class="user-stat big">
                        <!-- USER STAT TITLE -->
                        <p class="user-stat-title">5.7k</p>
                        <!-- /USER STAT TITLE -->

                        <!-- USER STAT TEXT -->
                        <p class="user-stat-text">visits</p>
                        <!-- /USER STAT TEXT -->
                    </div>
                    <!-- /USER STAT -->

                    <!-- USER STAT -->
                    <div class="user-stat big">
                        <!-- USER STAT IMAGE -->
                        <img class="user-stat-image" src="{{ asset('template/img/flag/usa.png') }}" alt="flag-usa">
                        <!-- /USER STAT IMAGE -->

                        <!-- USER STAT TEXT -->
                        <p class="user-stat-text">usa</p>
                        <!-- /USER STAT TEXT -->
                    </div>
                    <!-- /USER STAT -->
                </div>
                <!-- /USER STATS -->

                <!-- PROFILE HEADER INFO ACTIONS -->
                <div class="profile-header-info-actions">
                    <!-- PROFILE HEADER INFO ACTION -->
                    <p class="profile-header-info-action button secondary"><span class="hide-text-mobile">Add</span> Friend +</p>
                    <!-- /PROFILE HEADER INFO ACTION -->

                    <!-- PROFILE HEADER INFO ACTION -->
                    <p class="profile-header-info-action button primary"><span class="hide-text-mobile">Send</span> Message</p>
                    <!-- /PROFILE HEADER INFO ACTION -->
                </div>
                <!-- /PROFILE HEADER INFO ACTIONS -->
            </div>
            <!-- /PROFILE HEADER INFO -->
        </div>
        <!-- /PROFILE HEADER -->



        <!-- GRID -->
        <div class="grid grid-3-6-3">
            <!-- GRID COLUMN -->
            <div class="grid-column">
                <!-- WIDGET BOX -->
                <div class="widget-box">
                    <!-- WIDGET BOX SETTINGS -->
                    <div class="widget-box-settings">
                        <!-- POST SETTINGS WRAP -->
                        <div class="post-settings-wrap">
                            <!-- POST SETTINGS -->
                            <div class="post-settings widget-box-post-settings-dropdown-trigger">
                                <!-- POST SETTINGS ICON -->
                                <svg class="post-settings-icon icon-more-dots">
                                    <use xlink:href="#svg-more-dots"></use>
                                </svg>
                                <!-- /POST SETTINGS ICON -->
                            </div>
                            <!-- /POST SETTINGS -->

                            <!-- SIMPLE DROPDOWN -->
                            <div class="simple-dropdown widget-box-post-settings-dropdown">
                                <!-- SIMPLE DROPDOWN LINK -->
                                <p class="simple-dropdown-link">Widget Settings</p>
                                <!-- /SIMPLE DROPDOWN LINK -->
                            </div>
                            <!-- /SIMPLE DROPDOWN -->
                        </div>
                        <!-- /POST SETTINGS WRAP -->
                    </div>
                    <!-- /WIDGET BOX SETTINGS -->

                    <!-- WIDGET BOX TITLE -->
                    <p class="widget-box-title">About Me</p>
                    <!-- /WIDGET BOX TITLE -->

                    <!-- WIDGET BOX CONTENT -->
                    <div class="widget-box-content">
                        <!-- PARAGRAPH -->
                        <p class="paragraph">Hi! My name is {{Profile.username}} but some people may know me as GameHuntress! I have a Twitch channel where I stream, play and review all the newest games.</p>
                        <!-- /PARAGRAPH -->

                        <!-- INFORMATION LINE LIST -->
                        <div class="information-line-list">
                            <!-- INFORMATION LINE -->
                            <div class="information-line">
                                <!-- INFORMATION LINE TITLE -->
                                <p class="information-line-title">Joined</p>
                                <!-- /INFORMATION LINE TITLE -->

                                <!-- INFORMATION LINE TEXT -->
                                <p class="information-line-text">March 26th, 2017</p>
                                <!-- /INFORMATION LINE TEXT -->
                            </div>
                            <!-- /INFORMATION LINE -->

                            <!-- INFORMATION LINE -->
                            <div class="information-line">
                                <!-- INFORMATION LINE TITLE -->
                                <p class="information-line-title">City</p>
                                <!-- /INFORMATION LINE TITLE -->

                                <!-- INFORMATION LINE TEXT -->
                                <p class="information-line-text">Los Angeles, California</p>
                                <!-- /INFORMATION LINE TEXT -->
                            </div>
                            <!-- /INFORMATION LINE -->

                            <!-- INFORMATION LINE -->
                            <div class="information-line">
                                <!-- INFORMATION LINE TITLE -->
                                <p class="information-line-title">Country</p>
                                <!-- /INFORMATION LINE TITLE -->

                                <!-- INFORMATION LINE TEXT -->
                                <p class="information-line-text">United States</p>
                                <!-- /INFORMATION LINE TEXT -->
                            </div>
                            <!-- /INFORMATION LINE -->

                            <!-- INFORMATION LINE -->
                            <div class="information-line">
                                <!-- INFORMATION LINE TITLE -->
                                <p class="information-line-title">Age</p>
                                <!-- /INFORMATION LINE TITLE -->

                                <!-- INFORMATION LINE TEXT -->
                                <p class="information-line-text">32 Years</p>
                                <!-- /INFORMATION LINE TEXT -->
                            </div>
                            <!-- /INFORMATION LINE -->

                            <!-- INFORMATION LINE -->
                            <div class="information-line">
                                <!-- INFORMATION LINE TITLE -->
                                <p class="information-line-title">Web</p>
                                <!-- /INFORMATION LINE TITLE -->

                                <!-- INFORMATION LINE TEXT -->
                                <p class="information-line-text"><a href="#">www.gamehuntress.com</a></p>
                                <!-- /INFORMATION LINE TEXT -->
                            </div>
                            <!-- /INFORMATION LINE -->
                        </div>
                        <!-- /INFORMATION LINE LIST -->
                    </div>
                    <!-- /WIDGET BOX CONTENT -->
                </div>
                <!-- /WIDGET BOX -->

                <!-- WIDGET BOX -->
                <div class="widget-box">
                    <!-- WIDGET BOX SETTINGS -->
                    <div class="widget-box-settings">
                        <!-- POST SETTINGS WRAP -->
                        <div class="post-settings-wrap">
                            <!-- POST SETTINGS -->
                            <div class="post-settings widget-box-post-settings-dropdown-trigger">
                                <!-- POST SETTINGS ICON -->
                                <svg class="post-settings-icon icon-more-dots">
                                    <use xlink:href="#svg-more-dots"></use>
                                </svg>
                                <!-- /POST SETTINGS ICON -->
                            </div>
                            <!-- /POST SETTINGS -->

                            <!-- SIMPLE DROPDOWN -->
                            <div class="simple-dropdown widget-box-post-settings-dropdown">
                                <!-- SIMPLE DROPDOWN LINK -->
                                <p class="simple-dropdown-link">Widget Settings</p>
                                <!-- /SIMPLE DROPDOWN LINK -->
                            </div>
                            <!-- /SIMPLE DROPDOWN -->
                        </div>
                        <!-- /POST SETTINGS WRAP -->
                    </div>
                    <!-- /WIDGET BOX SETTINGS -->

                    <!-- WIDGET BOX TITLE -->
                    <p class="widget-box-title">Personal Info</p>
                    <!-- /WIDGET BOX TITLE -->

                    <!-- WIDGET BOX CONTENT -->
                    <div class="widget-box-content">
                        <!-- INFORMATION LINE LIST -->
                        <div class="information-line-list">
                            <!-- INFORMATION LINE -->
                            <div class="information-line">
                                <!-- INFORMATION LINE TITLE -->
                                <p class="information-line-title">Email</p>
                                <!-- /INFORMATION LINE TITLE -->

                                <!-- INFORMATION LINE TEXT -->
                                <p class="information-line-text">{{Profile.email}}</p>
                                <!-- /INFORMATION LINE TEXT -->
                            </div>
                            <!-- /INFORMATION LINE -->

                            <!-- INFORMATION LINE -->
                            <div class="information-line">
                                <!-- INFORMATION LINE TITLE -->
                                <p class="information-line-title">Birthday</p>
                                <!-- /INFORMATION LINE TITLE -->

                                <!-- INFORMATION LINE TEXT -->
                                <p class="information-line-text">August 24th, 1987</p>
                                <!-- /INFORMATION LINE TEXT -->
                            </div>
                            <!-- /INFORMATION LINE -->

                            <!-- INFORMATION LINE -->
                            <div class="information-line">
                                <!-- INFORMATION LINE TITLE -->
                                <p class="information-line-title">Type de Compte</p>
                                <!-- /INFORMATION LINE TITLE -->

                                <!-- INFORMATION LINE TEXT -->
                                <p class="information-line-text">{{ Profile.typecompte }}</p>
                                <!-- /INFORMATION LINE TEXT -->
                            </div>
                            <!-- /INFORMATION LINE -->

                            <!-- INFORMATION LINE -->
                            <div class="information-line">
                                <!-- INFORMATION LINE TITLE -->
                                <p class="information-line-title">Status</p>
                                <!-- /INFORMATION LINE TITLE -->

                                <!-- INFORMATION LINE TEXT -->
                                <p class="information-line-text">In a Relationship</p>
                                <!-- /INFORMATION LINE TEXT -->
                            </div>
                            <!-- /INFORMATION LINE -->

                            <!-- INFORMATION LINE -->
                            <div class="information-line">
                                <!-- INFORMATION LINE TITLE -->
                                <p class="information-line-title">Birthplace</p>
                                <!-- /INFORMATION LINE TITLE -->

                                <!-- INFORMATION LINE TEXT -->
                                <p class="information-line-text">Long Island, New York United States</p>
                                <!-- /INFORMATION LINE TEXT -->
                            </div>
                            <!-- /INFORMATION LINE -->

                            <!-- INFORMATION LINE -->
                            <div class="information-line">
                                <!-- INFORMATION LINE TITLE -->
                                <p class="information-line-title">Ps ID</p>
                                <!-- /INFORMATION LINE TITLE -->

                                <!-- INFORMATION LINE TEXT -->
                                <p class="information-line-text">da_GHuntress</p>
                                <!-- /INFORMATION LINE TEXT -->
                            </div>
                            <!-- /INFORMATION LINE -->

                            <!-- INFORMATION LINE -->
                            <div class="information-line">
                                <!-- INFORMATION LINE TITLE -->
                                <p class="information-line-title">Xb ID</p>
                                <!-- /INFORMATION LINE TITLE -->

                                <!-- INFORMATION LINE TEXT -->
                                <p class="information-line-text">GameHuntress89</p>
                                <!-- /INFORMATION LINE TEXT -->
                            </div>
                            <!-- /INFORMATION LINE -->
                        </div>
                        <!-- /INFORMATION LINE LIST -->
                    </div>
                    <!-- /WIDGET BOX CONTENT -->
                </div>
                <!-- /WIDGET BOX -->
            </div>
            <!-- /GRID COLUMN -->

            <!-- GRID COLUMN -->
            <div class="grid-column">
                <!-- WIDGET BOX -->
                <div class="widget-box">
                    <!-- WIDGET BOX SETTINGS -->
                    <div class="widget-box-settings">
                        <!-- POST SETTINGS WRAP -->
                        <div class="post-settings-wrap">
                            <!-- POST SETTINGS -->
                            <div class="post-settings widget-box-post-settings-dropdown-trigger">
                                <!-- POST SETTINGS ICON -->
                                <svg class="post-settings-icon icon-more-dots">
                                    <use xlink:href="#svg-more-dots"></use>
                                </svg>
                                <!-- /POST SETTINGS ICON -->
                            </div>
                            <!-- /POST SETTINGS -->

                            <!-- SIMPLE DROPDOWN -->
                            <div class="simple-dropdown widget-box-post-settings-dropdown">
                                <!-- SIMPLE DROPDOWN LINK -->
                                <p class="simple-dropdown-link">Widget Settings</p>
                                <!-- /SIMPLE DROPDOWN LINK -->
                            </div>
                            <!-- /SIMPLE DROPDOWN -->
                        </div>
                        <!-- /POST SETTINGS WRAP -->
                    </div>
                    <!-- /WIDGET BOX SETTINGS -->

                    <!-- WIDGET BOX TITLE -->
                    <p class="widget-box-title">Interests</p>
                    <!-- /WIDGET BOX TITLE -->

                    <!-- WIDGET BOX CONTENT -->
                    <div class="widget-box-content">
                        <!-- INFORMATION BLOCK LIST -->
                        <div class="information-block-list">
                            <!-- INFORMATION BLOCK -->
                            <div class="information-block">
                                <!-- INFORMATION BLOCK TITLE -->
                                <p class="information-block-title">Favourite TV Shows</p>
                                <!-- /INFORMATION BLOCK TITLE -->

                                <!-- INFORMATION BLOCK TEXT -->
                                <p class="information-block-text">Breaking Good, RedDevil, People of Interest, The Running Dead, Found,  American Guy, The Last Windbender, Game of Wars.</p>
                                <!-- /INFORMATION BLOCK TEXT -->
                            </div>
                            <!-- /INFORMATION BLOCK -->

                            <!-- INFORMATION BLOCK -->
                            <div class="information-block">
                                <!-- INFORMATION BLOCK TITLE -->
                                <p class="information-block-title">Favourite Music Bands / Artists</p>
                                <!-- /INFORMATION BLOCK TITLE -->

                                <!-- INFORMATION BLOCK TEXT -->
                                <p class="information-block-text">Iron Maid, DC/AC, Megablow, Kung Fighters, System of a Revenge, Rammstown.</p>
                                <!-- /INFORMATION BLOCK TEXT -->
                            </div>
                            <!-- /INFORMATION BLOCK -->

                            <!-- INFORMATION BLOCK -->
                            <div class="information-block">
                                <!-- INFORMATION BLOCK TITLE -->
                                <p class="information-block-title">Favourite Movies</p>
                                <!-- /INFORMATION BLOCK TITLE -->

                                <!-- INFORMATION BLOCK TEXT -->
                                <p class="information-block-text">The Revengers Saga, The Scarred Wizard and the Fire Crown, Crime Squad, Metal Man, The Dark Rider, Watchers, The Impossible Heist.</p>
                                <!-- /INFORMATION BLOCK TEXT -->
                            </div>
                            <!-- /INFORMATION BLOCK -->

                            <!-- INFORMATION BLOCK -->
                            <div class="information-block">
                                <!-- INFORMATION BLOCK TITLE -->
                                <p class="information-block-title">Favourite Books</p>
                                <!-- /INFORMATION BLOCK TITLE -->

                                <!-- INFORMATION BLOCK TEXT -->
                                <p class="information-block-text">The Crime of the Century, Egiptian Mythology 101, The Scarred Wizard, Lord of the Wings, Amongst Gods, The Oracle, A Tale of Air and Water.</p>
                                <!-- /INFORMATION BLOCK TEXT -->
                            </div>
                            <!-- /INFORMATION BLOCK -->

                            <!-- INFORMATION BLOCK -->
                            <div class="information-block">
                                <!-- INFORMATION BLOCK TITLE -->
                                <p class="information-block-title">Favourite Games</p>
                                <!-- /INFORMATION BLOCK TITLE -->

                                <!-- INFORMATION BLOCK TEXT -->
                                <p class="information-block-text">The First of Us, Assassin’s Squad, Dark Assylum, NMAK16, Last Cause 4, Grand Snatch Auto.</p>
                                <!-- /INFORMATION BLOCK TEXT -->
                            </div>
                            <!-- /INFORMATION BLOCK -->
                        </div>
                        <!-- /INFORMATION BLOCK LIST -->
                    </div>
                    <!-- /WIDGET BOX CONTENT -->
                </div>
                <!-- /WIDGET BOX -->

                <!-- WIDGET BOX -->
                <div class="widget-box">
                    <!-- WIDGET BOX SETTINGS -->
                    <div class="widget-box-settings">
                        <!-- POST SETTINGS WRAP -->
                        <div class="post-settings-wrap">
                            <!-- POST SETTINGS -->
                            <div class="post-settings widget-box-post-settings-dropdown-trigger">
                                <!-- POST SETTINGS ICON -->
                                <svg class="post-settings-icon icon-more-dots">
                                    <use xlink:href="#svg-more-dots"></use>
                                </svg>
                                <!-- /POST SETTINGS ICON -->
                            </div>
                            <!-- /POST SETTINGS -->

                            <!-- SIMPLE DROPDOWN -->
                            <div class="simple-dropdown widget-box-post-settings-dropdown">
                                <!-- SIMPLE DROPDOWN LINK -->
                                <p class="simple-dropdown-link">Widget Settings</p>
                                <!-- /SIMPLE DROPDOWN LINK -->
                            </div>
                            <!-- /SIMPLE DROPDOWN -->
                        </div>
                        <!-- /POST SETTINGS WRAP -->
                    </div>
                    <!-- /WIDGET BOX SETTINGS -->

                    <!-- WIDGET BOX TITLE -->
                    <p class="widget-box-title">Jobs &amp; Education</p>
                    <!-- /WIDGET BOX TITLE -->

                    <!-- WIDGET BOX CONTENT -->
                    <div class="widget-box-content">
                        <!-- TIMELINE INFORMATION LIST -->
                        <div class="timeline-information-list">
                            <!-- TIMELINE INFORMATION -->
                            <div class="timeline-information">
                                <!-- TIMELINE INFORMATION TITLE -->
                                <p class="timeline-information-title">Lead Costume Designer</p>
                                <!-- /TIMELINE INFORMATION TITLE -->

                                <!-- TIMELINE INFORMATION DATE -->
                                <p class="timeline-information-date">2015 - NOW</p>
                                <!-- /TIMELINE INFORMATION DATE -->

                                <!-- TIMELINE INFORMATION TEXT -->
                                <p class="timeline-information-text">Lead Costume Designer for the "Amazzo Costumes" agency. I'm in charge of a ten person group, overseeing all the proyects and talking to potential clients. I also handle some face to face interviews for new candidates.</p>
                                <!-- /TIMELINE INFORMATION TEXT -->
                            </div>
                            <!-- /TIMELINE INFORMATION -->

                            <!-- TIMELINE INFORMATION -->
                            <div class="timeline-information">
                                <!-- TIMELINE INFORMATION TITLE -->
                                <p class="timeline-information-title">Costume Designer</p>
                                <!-- /TIMELINE INFORMATION TITLE -->

                                <!-- TIMELINE INFORMATION DATE -->
                                <p class="timeline-information-date">2013 - 2015</p>
                                <!-- /TIMELINE INFORMATION DATE -->

                                <!-- TIMELINE INFORMATION TEXT -->
                                <p class="timeline-information-text">Costume Designer for the "Jenny Taylors" agency. Was in charge of working side by side with the best designers in order to complete and perfect orders.</p>
                                <!-- /TIMELINE INFORMATION TEXT -->
                            </div>
                            <!-- /TIMELINE INFORMATION -->

                            <!-- TIMELINE INFORMATION -->
                            <div class="timeline-information">
                                <!-- TIMELINE INFORMATION TITLE -->
                                <p class="timeline-information-title">Designer Intern</p>
                                <!-- /TIMELINE INFORMATION TITLE -->

                                <!-- TIMELINE INFORMATION DATE -->
                                <p class="timeline-information-date">2012 - 2013</p>
                                <!-- /TIMELINE INFORMATION DATE -->

                                <!-- TIMELINE INFORMATION TEXT -->
                                <p class="timeline-information-text">Intern for the "Jenny Taylors" agency. Was in charge of the communication with the clients and day-to-day chores.</p>
                                <!-- /TIMELINE INFORMATION TEXT -->
                            </div>
                            <!-- /TIMELINE INFORMATION -->

                            <!-- TIMELINE INFORMATION -->
                            <div class="timeline-information">
                                <!-- TIMELINE INFORMATION TITLE -->
                                <p class="timeline-information-title">The Antique College of Design</p>
                                <!-- /TIMELINE INFORMATION TITLE -->

                                <!-- TIMELINE INFORMATION DATE -->
                                <p class="timeline-information-date">2007 - 2012</p>
                                <!-- /TIMELINE INFORMATION DATE -->

                                <!-- TIMELINE INFORMATION TEXT -->
                                <p class="timeline-information-text">Bachelor of Costume Design in the Antique College. It was a five years intensive career, plus a course about Cosplays. Average: A+</p>
                                <!-- /TIMELINE INFORMATION TEXT -->
                            </div>
                            <!-- /TIMELINE INFORMATION -->
                        </div>
                        <!-- /TIMELINE INFORMATION LIST -->
                    </div>
                    <!-- /WIDGET BOX CONTENT -->
                </div>
                <!-- /WIDGET BOX -->
            </div>
            <!-- /GRID COLUMN -->

            <!-- GRID COLUMN -->
            <div class="grid-column">
                <!-- WIDGET BOX -->
                <div class="widget-box">
                    <!-- PROGRESS ARC SUMMARY -->
                    <div class="progress-arc-summary">
                        <!-- PROGRESS ARC WRAP -->
                        <div class="progress-arc-wrap">
                            <!-- PROGRESS ARC -->
                            <div class="progress-arc">
                                <canvas id="profile-completion-chart"></canvas>
                            </div>
                            <!-- PROGRESS ARC -->

                            <!-- PROGRESS ARC INFO -->
                            <div class="progress-arc-info">
                                <!-- PROGRESS ARC TITLE -->
                                <p class="progress-arc-title">59%</p>
                                <!-- /PROGRESS ARC TITLE -->
                            </div>
                            <!-- /PROGRESS ARC INFO -->
                        </div>
                        <!-- /PROGRESS ARC WRAP -->

                        <!-- PROGRESS ARC SUMMARY INFO -->
                        <div class="progress-arc-summary-info">
                            <!-- PROGRESS ARC SUMMARY TITLE -->
                            <p class="progress-arc-summary-title">Profile Completion</p>
                            <!-- /PROGRESS ARC SUMMARY TITLE -->

                            <!-- PROGRESS ARC SUMMARY TITLE -->
                            <p class="progress-arc-summary-subtitle">{{ Profile.username }}</p>
                            <!-- /PROGRESS ARC SUMMARY TITLE -->

                            <!-- PROGRESS ARC SUMMARY TITLE -->
                            <p class="progress-arc-summary-text">Complete your profile by filling profile info fields, completing quests &amp; unlocking badges</p>
                            <!-- /PROGRESS ARC SUMMARY TITLE -->
                        </div>
                        <!-- /PROGRESS ARC SUMMARY INFO -->
                    </div>
                    <!-- /PROGRESS ARC SUMMARY -->

                    <!-- ACHIEVEMENT STATUS LIST -->
                    <div class="achievement-status-list">
                        <!-- ACHIEVEMENT STATUS -->
                        <div class="achievement-status">
                            <!-- ACHIEVEMENT STATUS PROGRESS -->
                            <p class="achievement-status-progress">11/30</p>
                            <!-- /ACHIEVEMENT STATUS PROGRESS -->

                            <!-- ACHIEVEMENT STATUS INFO -->
                            <div class="achievement-status-info">
                                <!-- ACHIEVEMENT STATUS TITLE -->
                                <p class="achievement-status-title">Quests</p>
                                <!-- /ACHIEVEMENT STATUS TITLE -->

                                <!-- ACHIEVEMENT STATUS TEXT -->
                                <p class="achievement-status-text">Completed</p>
                                <!-- /ACHIEVEMENT STATUS TEXT -->
                            </div>
                            <!-- /ACHIEVEMENT STATUS INFO -->

                            <!-- ACHIEVEMENT STATUS IMAGE -->
                            <img class="achievement-status-image" src="{{ asset('template/img/badge/completedq-s.png') }}" alt="bdage-completedq-s">
                            <!-- /ACHIEVEMENT STATUS IMAGE -->
                        </div>
                        <!-- /ACHIEVEMENT STATUS -->

                        <!-- ACHIEVEMENT STATUS -->
                        <div class="achievement-status">
                            <!-- ACHIEVEMENT STATUS PROGRESS -->
                            <p class="achievement-status-progress">22/46</p>
                            <!-- /ACHIEVEMENT STATUS PROGRESS -->

                            <!-- ACHIEVEMENT STATUS INFO -->
                            <div class="achievement-status-info">
                                <!-- ACHIEVEMENT STATUS TITLE -->
                                <p class="achievement-status-title">Badges</p>
                                <!-- /ACHIEVEMENT STATUS TITLE -->

                                <!-- ACHIEVEMENT STATUS TEXT -->
                                <p class="achievement-status-text">Unlocked</p>
                                <!-- /ACHIEVEMENT STATUS TEXT -->
                            </div>
                            <!-- /ACHIEVEMENT STATUS INFO -->

                            <!-- ACHIEVEMENT STATUS IMAGE -->
                            <img class="achievement-status-image" src="{{ asset('template/img/badge/unlocked-badge.png') }}" alt="bdage-unlocked-badge">
                            <!-- /ACHIEVEMENT STATUS IMAGE -->
                        </div>
                        <!-- /ACHIEVEMENT STATUS -->
                    </div>
                    <!-- /ACHIEVEMENT STATUS LIST -->
                </div>
                <!-- /WIDGET BOX -->

                <!-- WIDGET BOX -->
                <div class="widget-box">
                    <!-- WIDGET BOX SETTINGS -->
                    <div class="widget-box-settings">
                        <!-- POST SETTINGS WRAP -->
                        <div class="post-settings-wrap">
                            <!-- POST SETTINGS -->
                            <div class="post-settings widget-box-post-settings-dropdown-trigger">
                                <!-- POST SETTINGS ICON -->
                                <svg class="post-settings-icon icon-more-dots">
                                    <use xlink:href="#svg-more-dots"></use>
                                </svg>
                                <!-- /POST SETTINGS ICON -->
                            </div>
                            <!-- /POST SETTINGS -->

                            <!-- SIMPLE DROPDOWN -->
                            <div class="simple-dropdown widget-box-post-settings-dropdown">
                                <!-- SIMPLE DROPDOWN LINK -->
                                <p class="simple-dropdown-link">Widget Settings</p>
                                <!-- /SIMPLE DROPDOWN LINK -->
                            </div>
                            <!-- /SIMPLE DROPDOWN -->
                        </div>
                        <!-- /POST SETTINGS WRAP -->
                    </div>
                    <!-- /WIDGET BOX SETTINGS -->

                    <!-- WIDGET BOX TITLE -->
                    <p class="widget-box-title">More Stats</p>
                    <!-- /WIDGET BOX TITLE -->

                    <!-- WIDGET BOX CONTENT -->
                    <div class="widget-box-content">
                        <!-- STAT BLOCK LIST -->
                        <div class="stat-block-list">
                            <!-- STAT BLOCK -->
                            <div class="stat-block">
                                <!-- STAT BLOCK DECORATION -->
                                <div class="stat-block-decoration">
                                    <!-- STAT BLOCK DECORATION ICON -->
                                    <svg class="stat-block-decoration-icon icon-friend">
                                        <use xlink:href="#svg-friend"></use>
                                    </svg>
                                    <!-- /STAT BLOCK DECORATION ICON -->
                                </div>
                                <!-- /STAT BLOCK DECORATION -->

                                <!-- STAT BLOCK INFO -->
                                <div class="stat-block-info">
                                    <!-- STAT BLOCK TITLE -->
                                    <p class="stat-block-title">Last friend added</p>
                                    <!-- /STAT BLOCK TITLE -->

                                    <!-- STAT BLOCK TEXT -->
                                    <p class="stat-block-text">5 Days Ago</p>
                                    <!-- /STAT BLOCK TEXT -->
                                </div>
                                <!-- /STAT BLOCK INFO -->
                            </div>
                            <!-- /STAT BLOCK -->

                            <!-- STAT BLOCK -->
                            <div class="stat-block">
                                <!-- STAT BLOCK DECORATION -->
                                <div class="stat-block-decoration">
                                    <!-- STAT BLOCK DECORATION ICON -->
                                    <svg class="stat-block-decoration-icon icon-status">
                                        <use xlink:href="#svg-status"></use>
                                    </svg>
                                    <!-- /STAT BLOCK DECORATION ICON -->
                                </div>
                                <!-- /STAT BLOCK DECORATION -->

                                <!-- STAT BLOCK INFO -->
                                <div class="stat-block-info">
                                    <!-- STAT BLOCK TITLE -->
                                    <p class="stat-block-title">Last post update</p>
                                    <!-- /STAT BLOCK TITLE -->

                                    <!-- STAT BLOCK TEXT -->
                                    <p class="stat-block-text">1 Day Ago</p>
                                    <!-- /STAT BLOCK TEXT -->
                                </div>
                                <!-- /STAT BLOCK INFO -->
                            </div>
                            <!-- /STAT BLOCK -->

                            <!-- STAT BLOCK -->
                            <div class="stat-block">
                                <!-- STAT BLOCK DECORATION -->
                                <div class="stat-block-decoration">
                                    <!-- STAT BLOCK DECORATION ICON -->
                                    <svg class="stat-block-decoration-icon icon-comment">
                                        <use xlink:href="#svg-comment"></use>
                                    </svg>
                                    <!-- /STAT BLOCK DECORATION ICON -->
                                </div>
                                <!-- /STAT BLOCK DECORATION -->

                                <!-- STAT BLOCK INFO -->
                                <div class="stat-block-info">
                                    <!-- STAT BLOCK TITLE -->
                                    <p class="stat-block-title">Most commented post</p>
                                    <!-- /STAT BLOCK TITLE -->

                                    <!-- STAT BLOCK TEXT -->
                                    <p class="stat-block-text">56 Comments</p>
                                    <!-- /STAT BLOCK TEXT -->
                                </div>
                                <!-- /STAT BLOCK INFO -->
                            </div>
                            <!-- /STAT BLOCK -->

                            <!-- STAT BLOCK -->
                            <div class="stat-block">
                                <!-- STAT BLOCK DECORATION -->
                                <div class="stat-block-decoration">
                                    <!-- STAT BLOCK DECORATION ICON -->
                                    <svg class="stat-block-decoration-icon icon-thumbs-up">
                                        <use xlink:href="#svg-thumbs-up"></use>
                                    </svg>
                                    <!-- /STAT BLOCK DECORATION ICON -->
                                </div>
                                <!-- /STAT BLOCK DECORATION -->

                                <!-- STAT BLOCK INFO -->
                                <div class="stat-block-info">
                                    <!-- STAT BLOCK TITLE -->
                                    <p class="stat-block-title">Most liked post</p>
                                    <!-- /STAT BLOCK TITLE -->

                                    <!-- STAT BLOCK TEXT -->
                                    <p class="stat-block-text">904 Likes</p>
                                    <!-- /STAT BLOCK TEXT -->
                                </div>
                                <!-- /STAT BLOCK INFO -->
                            </div>
                            <!-- /STAT BLOCK -->
                        </div>
                        <!-- /STAT BLOCK LIST -->
                    </div>
                    <!-- /WIDGET BOX CONTENT -->
                </div>
                <!-- /WIDGET BOX -->
            </div>
            <!-- /GRID COLUMN -->
        </div>
        <!-- /GRID -->
    </div>
    <!-- CONTENT GRID -->




{% endblock %}