{% extends 'base1.html.twig' %}
{% block body %}

    <section class="content">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Blog
                        <small>Trouver tous vos blog</small>
                    </h2>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <a  href="{{ path('ajouterBlog')  }}">
                    <button class="btn btn-white btn-icon btn-round hidden-sm-down float-right m-l-10" type="button">
                        <i class="zmdi zmdi-plus"></i>
                    </button>
                    </a>
                    <ul class="breadcrumb float-md-right">
                        <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-blogger"></i> TGT</a></li>
                        <li class="breadcrumb-item active">Blog</li>
                        <li class="breadcrumb-item active">Article</li>
                    </ul>
                </div>
            </div>
        </div>

    <div class="container-fluid">



        <div class="row clearfix">
            {% for a in Article %}

            <div class="col-lg-4 col-md-12">
                <div class="card project_widget">
                    <a  href="{{ path('detailBlogAdmin', {'id':a.id})  }}">
                    <div class="pw_img">
                        <img class="img-fluid" src="{{ asset('uploads/'~a.photo) }}" style="height: 190px;width: 450px" alt="About the image">
                    </div>
                    </a>
                    <div class="pw_content">
                        <div class="pw_header">
                            <h6>{{a.sujet}}</h6>
                            <small class="text-muted">    Date de création | {{ a.datecreation|date("l d F - H:i") }}</small>
                        </div>
                        <div class="pw_meta">

                            <a href="{{ path('modifBlog', {'id':a.id})  }}" title="read more" class="btn btn-round btn-info">Modifier</a>
                            <a href="{{ path('suppBlog', {'id':a.id})  }}" title="read more" class="btn btn-round btn-info">Supprimer</a>


                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}

        </div>


    </div>
    </section>
{% endblock %}