{% extends 'base1.html.twig' %}
{% block body %}

    <section class="content blog-page">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Blog Detail
                        <small>Welcome to Oreo</small>
                    </h2>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <ul class="breadcrumb float-md-right">
                        <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> Oreo</a></li>
                        <li class="breadcrumb-item"><a href="blog-dashboard.html">Blog</a></li>
                        <li class="breadcrumb-item active">Blog Detail</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card single_post">
                        <div class="body">
                            <h3 class="m-t-0 m-b-5"><a href="blog-details.html">{{ article.sujet }}</a></h3>
                            <ul class="meta">
                                <li><a href="#"><i class="fa fa-calendar-times-o" style="font-size:13px;color:deepskyblue"></i>{{article.datecreation|date("l d F - H:i")}}</a></li>
                                <li><a href="#"><i class="zmdi zmdi-comment-text col-blue"></i>Comments:  {{ Comment|length }}</a></li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="img-post m-b-15">
                                <img src="{{asset('uploads/'~article.photo)}}" alt="Awesome Image" style="height: auto;width: auto;alignment: center">
                                <div class="social_share">
                                    <button class="btn btn-primary btn-icon btn-icon-mini btn-round"><i class="zmdi zmdi-facebook"></i></button>
                                    <button class="btn btn-primary btn-icon btn-icon-mini btn-round"><i class="zmdi zmdi-twitter"></i></button>
                                    <button class="btn btn-primary btn-icon btn-icon-mini btn-round"><i class="zmdi zmdi-instagram"></i></button>
                                </div>
                            </div>
                            <p>{{article.contenue|raw}}</p>
                            <br>



                                {% if article.tag|length != 0 %}
                                {% set tags = article.tag|split(',') %}

                                        {% for tag in tags %}


                                            <a href="#" title="read more" class="btn btn-round btn-info">#{{tag}}</a>

                                        {% endfor %}

                                {% endif %}


                            </div>

                        </div>
                    </div>


                <div class="card ">
                    <div class="header">

                        <h2><strong>Comments : </strong> {{ Comment|length }}</h2>
                        <ul class="header-dropdown">
                            <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                <ul class="dropdown-menu dropdown-menu-right slideUp float-right">
                                    <li><a href="javascript:void(0);">Edit</a></li>
                                    <li><a href="javascript:void(0);">Delete</a></li>
                                    <li><a href="javascript:void(0);">Report</a></li>
                                </ul>
                            </li>
                            <li class="remove">
                                <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <ul class="inbox-widget list-unstyled clearfix">
                            {% for c in Comment %}
                            <li class="inbox-inner"><a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-img"> <img src="{{asset('uploads/'~c.idUser.imguser)}}" class="rounded" alt=""> </div>
                                        <div class="inbox-item-info">
                                            <p class="author">{{c.idUser.username}}</p>
                                            <p class="inbox-message">{{c.text}}</p>
                                            <p class="inbox-date">
                                                {% if "now" |date("U") + 3600  > c.datecreation |date("U") + 31104000 %}
                                                    il ya {{ ("now" |date("U") + 3600  - c.datecreation |date("U") ) |date("Y") }} ans
                                                {% elseif "now" |date("U") + 3600  > c.datecreation |date("U") + 2592000 %}
                                                    il ya  {{ ("now" |date("U") + 3600  - c.datecreation |date("U") ) |date("m") }} moiss
                                                {% elseif "now" |date("U") + 3600  > c.datecreation |date("U") + 86400 %}
                                                    il ya {{ ("now" |date("U") + 3600  - c.datecreation |date("U") ) |date("d") }} jours
                                                {% elseif "now" |date("U") + 3600  > c.datecreation |date("U") + 3600  %}
                                                    il ya {{ ("now" |date("U") + 3600  - c.datecreation |date("U") ) |date("H") }} heures
                                                {% elseif "now" |date("U") + 3600  > c.datecreation |date("U") + 60 %}
                                                    il ya {{ ("now" |date("U") + 3600  - c.datecreation |date("U") ) |date("i") }} minutes
                                                {% elseif "now" |date("U") + 3600  > c.datecreation |date("U")  %}
                                                    il ya  {{ ("now" |date("U") + 3600  - c.datecreation |date("U") ) |date("s") }} secondes
                                                {% endif %}
                                            </p>
                                        </div>
                                        <div class="hover_action">

                                            <a href="{{ path('suppComment', {'id':c.id,'id2':c.idArticle.id})  }}"><i class="fa fa-trash" style="font-size:22px"></i></a>

                                        </div>
                                    </div>
                                </a>
                            </li>

                            {% endfor %}
                        </ul>
                    </div>
                </div>

                </div>

            </div>
        </div>


    </section>



{% endblock %}